.pizza-form{
    border: 1px solid #c0c0c0;
    margin: 15px 0;
    font-size: 1.2rem;
}

.input-group-header{
    background-color: #aaaaaa;
    color: #f3f3f3;
    width: 100%;
    padding: 2px 0 2px 15px;
    margin-bottom: 10px;
}

.input-group-header h2, .input-group-header h3{
    margin: 5px 0;
}

.input-group-header h2{
    font-size: 1.5rem;
}

.input-group-header h3{
    font-size: 1rem;
}

.form-check{
    margin-left: 20px;
}

/* .form-check-label{
    margin-bottom: 5px;
} */

.form-check-input{
    margin-left: -1.8rem;
}

.col, .form-group{
    margin-bottom: 2rem;
    padding: 10px 20px 10px 5px;
}